
h2, li[_ngcontent-c1], .submit-button {
  font-family: 'Libre Baskerville', serif;
}

li {
  color: red;
}

.login-header {
  color: #5F7367;
}

.login {
  width: 100%;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {

}

.submit-button {
  width: 100px;
  background-color: #DBF9F4;
  border-radius: 3px;
  font-size: 15px;
  padding: 15px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #B07BAC;
  border-radius: 4px;
  font-size: 15px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}
