h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

form {
  text-align: center;
}

li {
  color: red;
}

.login-form {
  width: 100%;
  padding: 100px;
  margin: auto;
}

.login-header {
  color: #B07BAC;
}

.submit-button {
  width: 100px;
}
